#header {
  background-image: url("../photos/background.webp");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh;
  color: #fff;
  overflow: hidden;
  h1 {
    font-size: 3rem;
    height: 115px;
  }
  p {
    margin-top: 2rem;
    font-size: 18px;
    color: #ccc;
    font-family: "Montserrat", sans-serif;
  }
  .item-1 {
    height: 300px;
  }
  .button-container {
    margin-top: 3rem;
    a {
      padding: 13px 28px !important;
    }
  }
  &::after {
    @include after-effect;
    transform: rotate(158deg);
    top: 23px;
    left: -83px;
  }
  &::before {
    content: "";
    background-image: url("../photos/grind.webp");
    position: absolute;
    width: 257px;
    height: 147px;
    z-index: 1000000;
    right: -39px;
    bottom: -31px;
  }
}
